---
layout: main
---
{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign tag_words = site_tags | split:',' | sort %}

<section class="blog-tags">
{% for this_word in tag_words %}
{% unless site.data.tags[this_word].hidden %}
  <h2 id="{{ this_word | cgi_escape }}"><a href="{{ site.baseurl}}/tag/{{ this_word | cgi_escape }}">{{ this_word }}</h2></a>
  {% for post in site.tags[this_word] %}{% if post.title != null %}
  {% unless post.hidden %}
  <div class="tag-list" style="padding-bottom:10px;">      
    <span>
      <small>{{ post.year}}</small> | 
      <em>{% if post.content.size > 1 %}<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title}}</a>{% else %}{{ post.title }}{% endif %}</em>
      <small>
        {% if post.content.size > 1 %} &nbsp; <a href="{{ site.baseurl }}{{ post.url }}"><i class="fa fa-file-text-o"></i></a>{% endif %}
        {% if post.info %} &nbsp; <a href="{{ post.info }}" target="_blank"><i class="fa fa-info"></i></a>{% endif %}
      </small>
    </span>
    <span>{{ post.subtitle}}</span>
    <span><small><em>{{ post.description}}</em></small></span>
  </div>
  {% endunless %}
  {% endif %}{% endfor %}
{% endunless %}
{% endfor %}
</section>