<div class="container">
  <nav class="pagination" role="pagination">
    <ul>
      <p>
      {% if paginator.page != 1 %}
      {% capture url_suffix %}{{ page.url | slice: -8, page.url.size  }}{% endcapture %}
      <a class="newer-posts" href="{{ page.url | replace: url_suffix, ''}}{{ paginator.previous_page_path }}"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
      &nbsp;
      {% endif %}

      {% if paginator.total_pages > 1 %}
      <span class="page-number">Page {{paginator.page}} of {{paginator.total_pages}}</span>
      {% endif %}
      
      {% if paginator.next_page %}
      &nbsp;
      <a class="older-posts" href="{{ page.url | replace: url_suffix, ''}}{{ paginator.next_page_path }}"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
      {% endif %}
      </p>
    </ul>
  </nav>
</div>
