{% assign list_array = list_array_str | split:', ' %}
{% assign list_array_simple = list_array_simple_str | split:', ' %}

<div class="home-page-tag">
    {% for list_str in list_array %}
    {% assign list = list_str | split: ' & ' %}
    {% assign key = list[0] %}
    {% assign key_text = list[0] %}
    {% assign icon = list[1] %}
    {% if key == 'publication'%}
    {% assign key_text = post.book_series %}
    {% if post.book_series %}
    {% assign key_text = post.book_series %}
    {% else %}
    {% assign key_text = "publ." %}
    {% endif %}
    {% endif %}
    {% if post[key] %} &nbsp; <a href="{{ post[key] }}" target="_blank"><i class="{{ icon }}"></i>&nbsp;{{ key_text }}</a>{% endif %}
    {% endfor %}
</div>
{% for list_simple_str in list_array_simple %}
{% assign list = list_simple_str | split: ' & ' %}
{% assign key = list[0] %}
{% assign icon = list[1] %}
{% if post[key] %} &nbsp; <a href="{{ post[key] }}" target="_blank"><i class="{{ icon }}"></i></a>{% endif %}
{% endfor %}