{% if page.arxiv %}
{% if page.publication %}
<div class="page-tag" style="padding-right: 30px;">
    <span id="Attachments"><strong>Latest version</strong> | </span>
    <a href="{{ page.arxiv }}" target="_blank" class="tag">arXiv</a>
</div>
{% else %}
<div class="page-tag" style="padding-right: 30px;">
    <span id="Attachments"><strong>Preprint</strong> | </span>
    <a href="{{ page.arxiv }}" target="_blank" class="tag">arXiv</a>
</div>
{% endif %}
{% endif %}
{% if page.publication and page.book_series %}
<div class="page-tag" style="padding-right: 30px;">
    <span id="Attachments"><strong>Conference paper</strong> | </span>
    <a href="{{ page.publication }}" target="_blank" class="tag">{{ page.book_series }}</a>
</div>
{% endif %}
{% if page.slides or page.poster or page.video or page.slides_handout %}
<div class="page-tag" style="padding-right: 30px;">
    <span id="Attachments"><strong>Conference talk</strong> | </span>
    {% if page.video %}<a href="{{ page.video }}" target="_blank" class="tag">Video</a>{% endif %}
    {% if page.slides %}<a href="{{site.baseurl}}{{ page.slides }}" class="tag">Slides</a>{% endif %}
    {% if page.poster %}<a href="{{site.baseurl}}{{ page.poster }}" class="tag">Poster</a>{% endif %}
    {% if page.slides_handout %}<a href="{{site.baseurl}}{{ page.slides_handout }}" class="tag">Handout</a>{% endif %}
</div>
{% endif %}
{% if page.longVideo or page.longSlides or page.longSlides_handout%}
<div class="page-tag" style="padding-right: 30px;">
    <span id="Attachments"><strong>Long talk</strong> | </span>
    {% if page.longVideo %}<a href="{{site.baseurl}}{{ page.longVideo }}" class="tag">Video</a>{% endif %}
    {% if page.longSlides %}<a href="{{site.baseurl}}{{ page.longSlides }}" class="tag">Slides</a>{% endif %}
    {% if page.longSlides_handout %}<a href="{{site.baseurl}}{{ page.longSlides_handout }}" class="tag">Handout</a>{% endif %}
</div>
{% endif %}
{% if page.dblp %}
<div class="page-tag" style="padding-right: 30px;">
    <span id="Attachments"><strong>Further details</strong> | </span>
    <a href="{{ page.dblp }}" target="_blank" class="tag">dblp</a>
</div>
{% endif %}