---
layout: main
---
{% assign tuple_array_str = "publication & fa fa-file-text-o, video & fa fa-video-camera, link & fa fa-link, info & fa fa-info" %}
{% assign tuple_array = tuple_array_str | split:', ' %}

<article class="article-page">
  <div class="page-content">
    {% if page.img %}
    <div class="page-cover-image">
      <figure>
        <img class="page-image" src={{ "/assets/img/" | prepend: site.baseurl | append : page.img}} alt="{{page.title}}">
        {% if page.fig-caption %}
          <figcaption>{{page.fig-caption}}</figcaption>
        {% endif %}
      </figure>
    </div> <!-- End Page Cover Image -->
    {% else %}
    {% endif %}
    <div class="wrap-content">
      <header class="header-page">
        {% assign dynamic_text_full = page.title %}
        {% assign dynamic_text_short = page.title_short %}
        <h1 class="page-title">{% include dynamic_text.html %}</h1>
        <div class="page-subtitle"><span>{{ page.subtitle }}</span></div>
        <div class="page-date"><span>{{ page.year }}</span></div>
        <div class="page-details">
          <!-- Handle external links -->
          {% for tuple_str in tuple_array %}
            {% assign tuple = tuple_str | split: ' & ' %}
            {% assign key = tuple[0] %}
            {% assign icon = tuple[1] %}
            {% if page[key] %}<span><a href="{{ page[key] }}" target="_blank"><i class="{{ icon }}"></i></a></span>{% endif %}
          {% endfor %}
        </div>
        <div class="page-block-end">
          <div class="page-share">
            <!-- <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}" title="Share on Twitter" rel="nofollow" target="_blank">Twitter</a> -->
            <!-- <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" title="Share on Facebook" rel="nofollow" target="_blank">Facebook</a> -->
            <!-- <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" title="Share on Google+" rel="nofollow" target="_blank">Google+</a> -->
          </div>
          <div class="page-tag">
            {% for tag in page.tags %}
              <a href="{{site.baseurl}}/tag/{{ tag | cgi_escape }}" class="tag"><i class="fa fa-tag"></i> &nbsp; {{ tag }}</a>
            {% endfor %}
          </div>
        </div>
      </header>
      {{content | markdownify}}
      {% if content.size > 1 %}
      <div class="page-block-end">
        <div></div>
        <div class="copyright">
          <p>{{site.time | date: '%Y'}} &copy; {{site.author}}</p>
        </div>
      </div>
      {% endif %}
      {% if site.disqus-identifier %}
      {% include disqus.html %}
      {% endif %}
    </div> <!-- End Wrap Content -->
  </div> <!-- End Page Content -->
</article> <!-- End Article Page -->
